body {
  box-shadow: inset 0 0 5em 0 #dedede;
  background-color: #f8f8f8;
  overflow-y: scroll;
}

.page-matches table td, .page-matches table th {
  padding: 2px 0!important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-matches table {
  table-layout: fixed;
}

.chart, #popup-chart {
  width: 100%; 
  min-height: 500px;
}

.popup .modal-dialog {
  max-width: 60%;
  position: fixed;
  top:5%;
  left:0;
  right:0;
}

.popup {
  visibility: hidden;
  opacity: 0;
}

.page-home, .page-players, .page-matches, .page-records, .page-tables, .page-charts, .page-about {
  display: none;
}

.page-players .individual-stats, .page-players .top-stats, .page-players .compare-stats {
  display: none;
}

.visible-sub-page {
  display: flex!important;
}

.visible-page {
  display: block!important;
}

/* CUSTOM TABLE STYLE HOME PAGE */

.page-home-main-chart path.ct-line {
  stroke-width: 2px;
}

.page-home-main-chart line.ct-point {
  stroke-width: 6px;
}

/* TOOLTIPS */

.expandable div {
  width: 12px;
  height: 12px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAKlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKE86IAAAADXRSTlMAARovMD5KYWd4e6L1lZz7BwAAADVJREFUCB1jYEABHApArhkD9yEGBpabDIx7FBhsFzAwSB9ivgUUZ9xTC+QAuSAOkBsApjAJAI43CJ0YSgbLAAAAAElFTkSuQmCC");
  display: inline-block;
  margin-top: 0.5em;
  cursor: pointer;
}

.expandable div.uparrow {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAACnRSTlMAIDFSVFV1e5GaF1Ut8gAAAC5JREFUCNdjYEAHAmCSfSmYquoKAHEWMYO4VQoMXgFADgMD62IGTgWgiBkDNgAADEYGRgXd3JMAAAAASUVORK5CYII=");
}

.table_motm_expanded {
  background-color: #fff0df !important;
}

.table-matches tbody tr:hover .expandable {
  opacity: .3;
}

.table-matches table tbody a {
  position: relative;
}

.table-monthly-home tbody a, .table-season-home tbody a, .table-monthly-tables tbody a, .table-season-tables tbody a {
  position: relative;
}

table tbody a span {
  display: none;
}

table tbody a:hover span, table tbody a:focus span {
  display: block;
  position: absolute;
  top: -2em;
  right: 0;
  padding: 0.1em 0.4em;
  border: 1px solid #000;
  background-color: #FFF;
  color: #000;
  z-index: 1;
  overflow: visible;
  white-space: nowrap;
}

.page-players .top-stats thead th {
  position: relative;
  cursor: pointer;
}

.page-players .top-stats thead tr img {
  position: absolute;
  top: 9px;
  right: 4px;
  width: 12px;
  height: 12px;
}

.page-players .top-stats .sort-default {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAMFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABaPxwLAAAAD3RSTlMAAQQUIzAxbYiVsLXBxfFQRRztAAAAQElEQVQIW2NgYIhWYAACtv+XQFT+/79ALuv//yAux6pVq5YwoAEeoNxXBgbm9///TwRy7f7/FGAAcSeCZc2BHADV1BbryO1UxgAAAABJRU5ErkJggg==');
}

.page-players .top-stats .sort-asc {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAJFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACmWAJHAAAAC3RSTlMAAQYVFiouPEC80ZaQXOoAAAAtSURBVAjXY2BAA5oFIJJp9Q4QpbV7dwOIs3v3DjAHxJ0NojYzuKUBQSADNgAAr3MQ+X9bLpEAAAAASUVORK5CYII=');
}

.page-players .top-stats .sort-desc {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAACnRSTlMAAQYVFy0xQLzRMXl+oQAAACxJREFUCFtjYMAG3NKAIJChaxUQLGbQBFEFDEyzVq1aDpTUBHEYgFwQBxsAAJ1bDw2ZcQ6sAAAAAElFTkSuQmCC');
}